@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --Font-Family: 'Open Sans', sans-serif;
  --btn-bg-clr: #fb5607;
  --bg-color: #d90429;
  --text-color: #403d39;
}

body {
  font-family: var(--Font-Family);
  background-color: white;
}

img {
  width: 100%;
  height: auto;
}

/* Home */

.home-image img{
  width: 20rem;
}

.home-page {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.get-location {
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.form {
  background-color: var(--bg-color);
  display: flex;
  gap: 0.5rem;
}

.operator {
  width: 100%;
}

.form-control input {
  width: 100%;
}

/* .form-control {
  margin-bottom: 1rem;
} */

/* .form-control label {
  display: block;
  font-weight: 700;
} */

/* .form-control input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--btn-bg-clr);
} */

.home-btn {
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  color: var(--bg-color);
  font-weight: 700;
}

.card-one .img-cta img {
  width: 100%;
  height: 10rem;
  border-radius: 50px;
}


.section-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 3rem;
}

.card-one {
  background-color:#dad7cd ;
  margin: 1rem;
  padding: 1rem;
}

.title {
  text-align: center;
  margin-top: 1.5rem;
}

.view-seats-btn {
  border: none;
  background-color: #fb5607;
  border-radius: 5px;
  cursor: alias;
  padding: 0.5rem;
}

.more-info {
  color: black;
    font-weight: 700;
}

.more-info:hover {
  color: #dad7cd;
}

/* single-bus */

.single-bus-img-cta {
  width: 25rem;
  border-radius: 15px;
}

.location {
  color: #d90429;
}

.single-bus {
  width: 100%;
  height: 100vh;
  background-color: #edf6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.seats {
display: flex;
gap: 2rem;
align-items: center;
justify-content: center;
margin-bottom: 1rem;
}

.select-seat label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

.available-seats {
  margin-top: 3rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.checkbox {
  width: 2rem;
  height: 2rem;
}